/* src/index.css */

/* Tailwind v4 */
@import "tailwindcss";

/* Seu CSS customizado (opcional) */

/* Fundo do App */
.app-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #111827; /* bg-gray-900 */
    color: white;
}

/* Sidebar escura */
.app-sidebar {
    background-color: #1F2937; /* bg-gray-800 */
    width: 16rem; 
    padding: 1rem; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #374151; 
}
